UiAutomation.Tests/Service References/UiPathRemote/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="StartJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="jobInfo" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListJobsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverConnectionInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedProcesses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedProcessesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssociatedProcessesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerSettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnJobCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invokeCompletedInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnJobCompletedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTrackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackRecord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTrackReceivedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnTrackReceivedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPackagesUpdated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPackagesUpdatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>